body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-decoration:none;
    background: url("img/Steam-background.jpeg");
    z-index: 1;
    
    }
    *,
    *:before,
    *:after {text-decoration:none;}
    
    h1, h2, h3, h4, h5, h6 {
    margin: 0;
    }
    ::-webkit-scrollbar {
    width: 0;
    }
    p {margin: 0 0 10px 0;}
.container {
    width: 100%;
    max-width: 1690px;
    margin: 0 auto;
}
.inner {
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: fixed;

}
/*     HEADER         */
.header {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    align-items: center;
    }
.img_steam {
    width: 80px;
    height: 80px;
}
.steam {
    margin: 0 20px 0 30px;
}
.logo {
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
    margin: 30px;
}
.exit {
    width: 30px;
    height: 30px;
    margin: 0 50px 0 0;
}
.text { 
    font-size: 30px;
    font-family: sans-serif;
    color: #fff; 
    margin: 0 30px 0 0;
    pointer-events: none;
}
.nav {
    justify-content: space-between;
    padding: 10px;
    display: flex;
    align-items: center;
}
/*      main      */
.text_main {
    font-size: 40px;
    color: #fff;
    font-family: sans-serif;
    
}
.form {
    margin: 30px 0 0 0;
}
.main {     
    padding: 270px 0 0 320px;
} 
.input {
    width: 900px;
    height: 80px;
    border-radius: 5px;
    background-color: #144475;
    border: none;
    font-size: 30px;
    color: #fff;
}
/*    footer   */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    z-index: 101;
}
.footer_text {
    font-size: 30px;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 10px 20px 50px;
}
.offerta {
    font-size: 30px;
    display: block;
    width: -1px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 10px;
}
.offerta::after {
    background-color: #fff; 
    display: block;
    content: "";
    height: 2px; 
    width: 100%;
    /*        button      */
}
.button {
    border: none;
    width: 500px;
    height: 100px;
    background: linear-gradient(160deg, #24b1fc, #594fee);
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0 25px 0;
    margin: 80px 0 0 0;
    cursor: pointer;
}
.pay {
    color: #fff;
    font-size: 46px;
    font-family: "Montserrat";
}




/*           media       */



@media (max-width: 1441px) {
    .button {
        width: 30%;
        height: 70px;
        margin: 10% 5% 20% 0;
    }
    .pay {
        font-size: 200%;
    }
    .footer_text {
        font-size: 120%;
    }
    .footer {
        height: 10%;
    }
    .header {
        height: 10%;
    }
    .steam {
        margin: 10% 0 0 5%;
    }
    .logo, .text, .offerta {
        font-size: 120%;
    }
    .input {
        width: 70%;
        height: 40px;
    }
    .text_main {
        font-size: 150%;
    }
    .main {
        padding: 20%;
        text-align: center;
    }
}




@media (max-width: 914px) {
    .button {
    float: none;
    margin: 10% auto;
    width: 70%;
    }
    .main {
        margin: 20% 0;
    }
    .pay {
        font-size: 150%;
    }
 
}
@media (max-width: 589px) {
    .offerta {
        
        flex-wrap: wrap;
    }
    .input {
        width: 120%;
        display: block;
        transform: translate(-10%, 0);
    }

}





