body {
font-family: 'Montserrat', sans-serif;
margin: 0;
text-decoration:none;
background: url("img/Steam-background.jpeg");
z-index: 1;
}
*,
*:before,
*:after {text-decoration:none;}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}
::-webkit-scrollbar {
    width: 0;
    }
p {
margin: 0 0 10px 0;
}
.container {
    width: 100%;
    max-width: 1690px;
    margin: 0 auto;
}
.inner {
    z-index: 100;
    background-color: rgba(0, 0, 0, .8);
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    position: fixed;
}
/*     HEADER         */
.header {
    width: 100%;
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    justify-content: space-between;
    display: flex;
    align-items: center;
    }
.img_steam {
    width: 100%;
    height: 100%;
}
.steam {
    margin: 0 20px 0 30px;
}
.logo {
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
    margin: 30px;
}
.text { 
    font-size: 30px;
    display: inline-block;
    font-family: sans-serif;
    color: #fff; 
    line-height: 1;
    margin: 0 50px 0 0;
    cursor: pointer;
}
.text:after {
    background-color: #fff; 
    display: block;
    content: "";
    height: 2px; 
    width: 0%;
    -webkit-transition: width 1s ease-in-out;
    -moz--transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.text:hover:after,
.text:focus:after {
    width: 100%;
}
.nav {
    justify-content: space-between;
    padding: 10px;
    display: flex;
    align-items: center;
}
/*      main          */
.steam_object {
    width: 400px;
    margin: 290px 0 0 0;
}
.text_main {
    font-size: 100px;
    color: #fff;
    display: flex;
    display: inline;
    margin: 290px 0 0 30px;
}
.main_content {
    display: inline;
    display:flex;
}
/*      footer_text        */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .8);
}
.footer_text {
    font-size: 30px;
    display: flex;
    color: #fff;
    text-transform: uppercase;
    padding: 20px 50px;
    position: fixed;
}
/*        BUTTON         */
.button {
    width: 500px;
    height: 100px;
    background: linear-gradient(160deg, #24b1fc, #594fee);
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
    border-radius: 25px 0 25px 0;
}
.pay {
    color: #fff;
    font-size: 46px;
}


/*           media       */



@media (max-width: 1441px) {
    .steam_object {
        width: 20%;
        height: 100%;
        margin: 20% 0 0 0;

    }
    .text_main {
        font-size: 400%;
        margin: 20% 0 0 0;
    }
    .button {
        width: 30%;
        height: 70px;
        margin: 0 5% 20% 0;
    }
    .pay {
        font-size: 200%;
    }
    .footer_text {
        font-size: 120%;
    }
    .footer {
        height: 10%;
    }
    .header {
        height: 10%;
    }
    .img_steam {
        width: 80%;
        height: 100%;
    }
    .steam {
        margin: 10% 0 0 5%;
    }
    .logo, .text {
        font-size: 120%;
    }
}




@media (max-width: 914px) {
    .button {
    float: none;
    margin: 10% auto;
    width: 70%;
    }
    .text_main, .steam_object {
        margin: 50% 0 0 5%;
    }
    .text, .footer_text, .logo {
        font-size: 30px;
    }
    .steam {
        width: 100%;
        height: 100%;
    }
}





@media (max-width: 426px) {
    .text_main {
        font-size: 170%;
    }
    .steam {
        width: 30%;
        height: 100%;
    }
    .button {
        float: none;
        margin: 10% auto;
        width: 70%;
    }
    .text_main, .steam_object {
        margin: 70% 0 0 5%;
    }
    .footer_text {
        padding: 10px 20px;
        font-size: 100%;
    }
    .text {
        margin: 8px 10px 0 0;
        font-size: 90%;
    }
    .logo {
        margin: 40px 0 40px 5%;
        font-size: 20px;
        width: 100px;
    }
}

