body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-decoration:none;
    background-color: #15151b;
}
*,
*:before,
*:after {box-sizing: border-box;
text-decoration:none;}

h1, h2, h3, h4, h5, h6 {
margin: 0;
}
p {
margin: 0 0 10px 0;
}
/* come in */
.come_in {
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;

}
.window {
    left: 50%;
    top: 50%;
    width: 400px;
    padding: 100px;
    transform: translate(-50%,-50%);
    position: absolute;
    text-align: center;
    background: #2c3136;
    border-radius: 10px;
}
.text {
    font-size: 40px;
    color: #fff;
}
.input {
    border: 2px solid #3498db;
    background: none;
    text-align: center;
    display: block;
    padding: 14px 10px;
    border-radius: 20px;
    color: #fff;
    margin: 20px auto;
}
                   /*header*/
.header {

}
.header_inner {
    display: flex;
    padding: 30px 0;
    justify-content: space-between;
}
.container {
    margin: 0 auto;
    width: 1280px;
    max-width: 100%;
}
.logo {
    display: flex;
    display-wrap: wrap;
    font-size: 50px;
    color: #fff;
}